<% if params[:date] == "after" %>
    <% page_title = "課題一覧" %>
    <h1><%= page_title %></h1>
    <% if @tasks.present? %>
        <% cnt = 0 %>
        <% @tasks.each do |task| %>
            <ul>
                <li><%= task.subject %></li>
                <%= task.limit %><br>
                <%= task.detail %>
                <%= button_to "削除", task, method: :delete,
                            data: { confirm: "本当に削除しますか？" } %>
            </ul>
        <% end %>
    <% else %>
        <p>課題なし</p>
    <% end %>

<% elsif params[:date] == "before" %>
    <% page_title = "ログ" %>
    <h1><%= page_title %></h1>
    <% if @logs.present? %>
        <% @logs.each do |task| %>
            <ul>
                <li><%= task.subject %></li>
                <%= task.limit %><br>
                <%= task.detail %>
                <%= button_to "削除", task, method: :delete,
                            data: { confirm: "本当に削除しますか？" } %>
            </ul>
        <% end %>
    <% else %>
        <p>ログなし</p>
    <% end %>
<% end %>
